{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <!-- <link rel="canonical" href="https://appseed.us/adminlte"/>-->

  <title>
    Django AdminLTE - {% block title %}{% endblock %} | Frame
  </title> 

  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition sidebar-mini layout-fixed {% block body_class %}{% endblock body_class %}" data-panel-auto-height-mode="height">
<div class="wrapper">

    {% block navigation %}{% endblock navigation %}

    {% block sidebar %}{% endblock sidebar %}

    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    {% block controlsidebar %}{% endblock controlsidebar %}  

</div>
<!-- ./wrapper -->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
