{% extends "layouts/base-datatable.html" %}
{% load i18n %}
{% load static %}

{% block title %}Menu List{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'dist/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/plugins/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css' %}">
  <!-- overlayScrollbars -->
  <!--<link rel="stylesheet" href="{% static 'dist/plugins/overlayScrollbars/css/OverlayScrollbars_v2.min.css' %}">-->
  <style>
    thead input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
  </style>
{% endblock stylesheets %}

{% block navigation %}
<nav class="navbar navbar-expand-sm fixed-top bg-light border shadow-sm rounded">
  <div class="container-fluid">
    <ul class="navbar-nav col-sm-6">
      {% if perms.system.add_menu %}
      <li class="nav-item">
        <a hx-get="{% url 'system:menu-create' %}" accesskey="N" class="btn btn-sm btn-light nav-link" data-bs-toggle="offcanvas" hx-target="#offcanvas" 
        data-toggle="tooltip" data-bs-placement="bottom" data-bs-title= "New ('Alt+N')">
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;{% translate 'New' %}
        </a>
      </li>
      {% endif %}
      {% if perms.system.change_menu %}
      <li class="nav-item">
        <button type="button" id="btnEdit" class="btn btn-light  btn-sm nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-title={% translate 'Edit' %} disabled>
          <i class="fa-solid fa-pen"></i>&nbsp;&nbsp;{% translate 'Edit' %}
        </button>
      </li>
      {% endif %}
      {% if perms.system.delete_menu %}
      <li class="nav-item">
        <button type="button" id="btnDel" class="btn btn-light btn-sm nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-title={% translate 'Delete' %} disabled>
          <i class="fa-regular fa-trash-can"></i>&nbsp;&nbsp;{% translate 'Delete' %}
        </button>
      </li>
      {% endif %}
    </ul>
    <div class="col-sm-6 d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="related function">
      </div>
    </div>
  </div>
</nav>
{% endblock navigation %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            {% translate "Menu" %}
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="MenuList" class="table table-sm table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                    <th>{% translate 'Name' %}</th>
                    <th>{% translate 'Parent Name' %}</th>
                    <th>{% translate 'URL' %}</th>
                    <th>{% translate 'Icon' %}</th>
                    <th>{% translate 'Menu Type' %}</th>
                    <th>{% translate 'Permission' %}</th>
                    <th>{% translate 'Seq' %}</th>
                    <th>{% translate 'Home' %}</th>
                  </tr>
              </thead>
            </table>
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>

  <!-- Placeholder for the offcanvas -->
  <div id="offcanvas" class="offcanvas offcanvas-end" aria-labelledby="offcanvasLabel" hx-target="this">
  </div>

  <!-- Placeholder for the modal -->
  <div id="modal" class="modal">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
  </div>

{% endblock content %}  

{% block javascripts %} 
<script src="{% static 'dist/plugins/datatables/JSZip-3.10.1/jszip.min.js' %}"></script>
<script src="{% static 'dist/plugins/datatables/pdfmake-0.2.7/pdfmake.min.js' %}"></script>
<script src="{% static 'dist/plugins/datatables/pdfmake-0.2.7/vfs_fonts.js' %}"></script>
<script src="{% static 'dist/plugins/datatables/Buttons-3.0.0/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'dist/plugins/datatables/Buttons-3.0.0/js/buttons.print.min.js' %}"></script>
<script src="{% static 'dist/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'dist/plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static "dist/js/jquery.formset.js" %}"></script>

<script>
$(document).ready(function(){
  $('#MenuList thead tr')
  .clone(true)
  .addClass('filters')
  .appendTo('#MenuList thead');
  table = new DataTable('#MenuList',{
      ajax: "{% url 'system:menu-json' %}",
      columns: [
          { data: 'name',
            render: function (data, type, row) {
              let link = '{% url 'system:menu-langText' 123 %}'.replace(/123/, row.id);
              return data + '<a href="#" hx-get="' + link + '"' + 'class="d-none float-end" data-bs-toggle="modal" hx-target="#dialog" title="Menu Text"><i class="fa-solid fa-pen-to-square"></i></a>';
            }
          },
          { data: 'parent__name' },
          { data: 'url' },
          { data: 'icon' },
          { data: 'menutype',
            render: function (data, type) {
              if (type === 'display') {
                let disClass = 'fa-solid fa-circle-xmark text-danger';
                if (data == 'N') {
                  return 'Navbar';
                }
                return 'Sidebar';
              }
              return data;
            }
          },
          { data: 'permission__codename' },
          { data: 'seq' },
          { 
            data: 'is_home',
            render: function (data, type) {
              if (type === 'display') {
                let disClass = 'fa-solid fa-circle-xmark text-danger';
                if (data == 1) {
                  disClass = 'fa-solid fa-circle-check text-success'; 
                }
                return '<i class="'+ disClass + '"></i>'
              }
              return data;
            } 
          },
        ],
      layout: {
        top1Start: {
            buttons: [
              {
                extend: 'csv',
                exportOptions: {
                    modifier: {
                        selected: null
                    }
                }
              },
              {
                extend: 'excel',
                exportOptions: {
                    modifier: {
                        selected: null
                    }
                }
              },
            'colvis']
        }
      },
      order: [[6, 'desc']],
      rowId: 'id',
      select: {
          style: 'single'
      },
      fixedHeader: true,
      stateSave: true,
      orderCellsTop: true,
      initComplete: function () {
        //htmx.process('#MenuList');
        this.api()
            .columns()
            .every(function () {
                let column = this;
                let title = column.header().textContent;

                // Create input element
                let input = document.createElement('input');
                input.placeholder = title;
                column.header(1).replaceChildren(input);

                // Restore state
                var colSearch = column.search();
                //alert(colSearch);
                if ( colSearch ) {
                  $( 'input',  column.header(1)).val( colSearch );
                }

                // Event listener for user input
                input.addEventListener('keyup', () => {
                    if (column.search() !== this.value) {
                        column.search(input.value).draw();
                    }
                });
            });
      },
      "drawCallback": function( settings ) {
        htmx.process('#MenuList');
      },
  });

  
  table
  .on( "mouseenter", "tbody tr", function() {
    $("a", this).removeClass("d-none");
  })
  .on( "mouseleave", "tbody tr", function() {
    $("a", this).addClass("d-none");
  } );

  //table.on('click', 'button', function (e) {
  //  let data = table.row(e.target.closest('tr')).data();
  //  //window.location.href = "{% url 'system:menu-langText' 123 %}".replace(/123/, data.id.toString());
  //  htmx.ajax('GET', "{% url 'system:menu-langText' 123 %}".replace(/123/, data.id.toString()), {target:'#dialog', swap:'innerHTML'});
  //});

  table
    .on('select', function (e, dt, type, indexes) {
      $('#btnEdit,#btnDel').removeAttr("disabled");
    })
    .on('deselect', function (e, dt, type, indexes) {
      $('btnEdit,#btnDel').attr("disabled", "disabled");
    });

  document.body.addEventListener("reloadTable", function(evt){
    table.ajax.reload(function() {
        htmx.process('#MenuList');
    }, false)
  });

  $("#btnEdit").click(function () {    
      var id = table.row({ selected: true }).id();
      doUpdate(id);
  });

  $("#btnDel").click(function () {    
      var id = table.row({ selected: true }).id();
      doDelete(id);
  });
})
</script>
<script>
function doUpdate(id) {
    // issue a GET to /example and replace #offcanvas with the response
  htmx.ajax('GET', "{% url 'system:menu-update' 123 %}".replace(/123/, id.toString()), {target:'#offcanvas', swap:'innerHTML'});
}
function doDelete(id) {
  //window.location.href = "{% url 'group-delete' 123 %}".replace(/123/, id.toString())
    // issue a GET to /example and replace #offcanvas with the response
  htmx.ajax('GET', "{% url 'system:menu-delete' 123 %}".replace(/123/, id.toString()), {target:'#dialog', swap:'innerHTML'});
}
</script>
{% endblock javascripts %}