{% extends "layouts/base-datatable.html" %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block navigation %}
<nav class="navbar navbar-expand-sm fixed-top bg-light border shadow-sm rounded">
  <div class="container-fluid">
    <ul class="navbar-nav col-sm-6">
      {% if perms.invent.add_itemtable %}  
      <li class="nav-item">
        <a hx-get="{% url 'invent:itemtable-create' %}" accesskey="N" class="btn btn-sm btn-light nav-link text-sm-center" data-bs-toggle="offcanvas" hx-target="#offcanvas" 
        data-toggle="tooltip" data-bs-placement="bottom" data-bs-title= "New (Alt+N)">
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;{% translate 'New' %}
        </a>
      </li>
      {% endif %}
      {% if perms.invent.change_itemtable %}
      <li class="nav-item">
        <button type="button" id="btnSave" class="btn btn-light btn-sm nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-title={% translate 'Save' %} disabled>
          <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;{% translate 'Save' %}
        </button>
      </li>
      {% endif %}
      {% if perms.invent.delete_itemtable %}
      <li class="nav-item">
        <button type="button" id="btnDel" class="btn btn-light btn-sm nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-title={% translate 'Delete' %} disabled>
          <i class="fa-regular fa-trash-can"></i>&nbsp;&nbsp;{% translate 'Delete' %}
        </button>
      </li>
      {% endif %}
      <li class="nav-item">
        <button type="button" id="btnrefresh" class="btn btn-sm btn-light nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-title={% translate 'Refresh' %} >
          <i class="fa-solid fa-arrows-rotate"></i>&nbsp;&nbsp;{% translate 'Refresh' %}
        </button>
      </li>
    </ul>
    <div class="col-sm-6 d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="related function">
      </div>
    </div>
  </div>
</nav>
{% endblock navigation %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            {% translate 'items'|title %} <i class="bi bi-0-circle-fill"></i>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="DataList" class="table table-sm table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                    <th>{% translate "Item number" %}</th>
                    <th>{% translate "Item name" %}</th>
                    <th>{% translate "Item group" %}</th>
                    <th>{% translate "Item type" %}</th>
                    <th>{% translate "Item config" %}</th>
                    <th>{% translate "Item size" %}</th>
                    <th>{% translate "Item color" %}</th>
                  </tr>
              </thead>
            </table>
          </div> <!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>

  <!-- Placeholder for the offcanvas -->
  <div id="offcanvas" class="offcanvas offcanvas-end" aria-labelledby="offcanvasLabel" hx-target="this">
  </div>

  <!-- Placeholder for the modal -->
  <div id="modal" class="modal">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
  </div>

{% endblock content %}  

{% block javascripts %}
<script src="{% static 'dist/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'dist/plugins/select2/js/select2.min.js' %}"></script>
<script>
$(document).ready(function(){    
  table = new DataTable('#DataList',{
      ajax: "{% url 'invent:itemtable-json' %}",
      columns: [
          { data: 'item_id' },
          { data: 'item_name' },
          { data: 'item_group' },
          { data: 'item_type' },
          { data: 'standard_config' },
          { data: 'standard_size' },
          { data: 'standard_color' },
      ],
      rowId: 'id',
      select: {
          style: 'single'
      },
      colReorder: true,
      "initComplete": function( settings, json ) {
                    htmx.process('#DataList');
      },
  });

  table
    .on('select', function (e, dt, type, indexes) {
      $('#btnEdit,#btnDel').removeAttr("disabled");
    })
    .on('deselect', function (e, dt, type, indexes) {
      $('#btnEdit,#btnDel').attr("disabled", "disabled");
    });

  document.body.addEventListener("reloadTable", function(evt){
    table.ajax.reload(function() {
        htmx.process('#DataList');
    }, false)
  });
  
  $("#btnEdit").click(function () {    
      var id = table.row({ selected: true }).id();
      doUpdate(id);
  });
  $("#btnDel").click(function () {    
      var id = table.row({ selected: true }).id();
      doDelete(id);
  });
  $("#btnrefresh").click(function () {    
      table.ajax.reload();
  });
})
</script>
<script>
function doUpdate(id) {
    // issue a GET to /example and replace #offcanvas with the response
  htmx.ajax('GET', "{% url 'invent:itemtable-update' 123 %}".replace(/123/, id.toString()), {target:'#offcanvas', swap:'innerHTML'});
}
function doDelete(id) {
  //window.location.href = "{% url 'group-delete' 123 %}".replace(/123/, id.toString())
    // issue a GET to /example and replace #offcanvas with the response
  htmx.ajax('GET', "{% url 'invent:itemtable-delete' 123 %}".replace(/123/, id.toString()), {target:'#dialog', swap:'innerHTML'});
}
</script>
{% endblock javascripts %}